/* Rouge : #c80000
Gris foncé : #666
Gris clair (bordures et catégorie): #ccc 
Or : #80
Font : Raleway
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

/* ********************************* */
/* GENERAL */
/* ******************************** */

html,
body {
  font-family: "raleway", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
/* ********************************* */
/* SECTION HEADER */
/* ********************************* */

.header {
  max-width: 900px;
  margin: 20px auto;
}

/* div */
.header__logoOfig {
  background-color: #c80000;
  padding: 1em;
  color: white;
}

.header__sousTitreOfig {
  background-color: #666;
  padding: 0.7em;
  text-align: center;
  color: white;
  box-shadow: 0px 14px 15px -1px rgba(0, 0, 0, 0.24);
}

/* textes */

.header__sloganOfig {
  padding-left: 0.5em;
  font-size: 2em;
  font-weight: bold;
}
.header__sloganOfig-minus {
  font-size: 0.3em;
  padding-left: 0.7em;
}
.header__texteBoutiqueFFantasy {
  font-size: 1em;
}
.header__texteBoutiqueFFantasy-italic {
  font-style: italic;
  font-size: 1.2em;
}

/* ******************************** */
/* MAIN */
/* ******************************** */

.main__boutiqueFigurines {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.main__boutiqueFigurines-encarts {
  width: 32%;
  border: 1px solid lightgray;
  padding: 0.7em;
  margin-top: 0.7em;
}

.main__boutiqueFigurines-encartsMiddle {
  width: 32%;
  border: 1px solid lightgray;
  padding: 0.7em;
  margin-top: 0.7em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.main__boutiqueFigurinesPhotos {
  width: 100%;
  margin-bottom: 1em;
}

.main__boutiqueFigurines-titreh3 {
  color: #ccc;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.3em;
  font-size: 0.7em;
  text-transform: uppercase;
}

.main__boutiqueFigurines-titreh2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}

.main__boutiqueFigurines-description {
  font-size: 0.8em;
  margin-bottom: 1em;
}

.main__boutiqueFigurines-texteBoutonpanier {
  display: flex;
  background-color: #c80000;
  padding: 1em;
  color: white;
  font-size: 0.8em;
  border-radius: 0.2em;
}

.main__boutiqueFigurines-texteBoutonpanier:hover {
  background-color: #c80;
  transition: 0.5s;
  cursor: pointer;
}

.main__boutiqueFigurines-ajouter {
  flex: 1;
}

.main__boutiqueFigurines-tarif {
  font-size: 1.2em;
  font-weight: bold;
}

.main__boutiqueFigurines-tarifBarré {
  text-decoration-line: line-through;
  flex: 0.5;
}

/* bannières promotionnelles */

.main__boutiqueFigurines-bannière1 {
  position: absolute;
  top: 1em;
  left: 17.5em;
  background-color: #c80;
  color: white;
  writing-mode: vertical-lr;
  text-align: center;
  width: 2em;
  height: 5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.main__boutiqueFigurines-soldes {
  font-weight: bold;
}

.main__boutiqueFigurines-bannière2 {
  position: absolute;
  top: 28em;
  left: 17.5em;
  background-color: #c80;
  color: white;
  writing-mode: vertical-lr;
  text-align: center;
  width: 2em;
  height: 5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

/* ****************************** */
/* FOOTER */
/* ****************************** */

.main__footer {
  width: 900px;
  background-color: #666;
  margin: 0 auto;
  padding: 1.3em;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: white;
  font-size: 0.8em;
}
